<div class="container">
<h1>All Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <div style="display: flex">
    <ul>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %>
        <br><%= restaurant.category.capitalize %>
      </li>
    </ul>
  </div>
<% end %>

<%= link_to new_restaurant_path  do %>
  <i class="far fa-plus-square"></i> Add a New Restaurant
<% end %>
</div>
